<h2 align="center" >Ενημέρωση Αυτοκινήτου</h2>
        <h4  align="center" >Kogas</h4>
    
      <br>

           


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Πινακίδα**</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="pinakida" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Πλαίσιο</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="plaisio" aria-describedby="inputGroup-sizing-default">
            </div>

            <br>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Όνομα</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="name" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Επίθετο</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="lastName" aria-describedby="inputGroup-sizing-default">
            </div>

            <br>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Κυβικά</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="kibika" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Άλογα</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="aloga" aria-describedby="inputGroup-sizing-default">
            </div>

            <br>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Μάρκα</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="marka" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Μοντέλο</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="modelo" aria-describedby="inputGroup-sizing-default">
            </div>

            <br>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Κωδικός Κινητήρα</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="kodikosKinitira" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Χρονολογία Αυτοκινήτου</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="xronologia" aria-describedby="inputGroup-sizing-default">
            </div>


            <div align="center">
                <button href='#' class="btn btn-primary" ng-click= "search()" >Αναζήτηση</button>
                <button href='#' class="btn btn-primary" ng-click= "updateCar()" >Ενημέρωση</button>
                
            </div>

              