        <h2 align="center" >Αναζήτηση Αυτοκινήτου</h2>
        <h4  align="center" >Κόγκας</h4>

        <br>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Χιλιομετρα 1</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="xlm1" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Χιλιομετρα 2</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="xlm2" aria-describedby="inputGroup-sizing-default">
            </div>

            <br>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Σχόλια</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="sxolia" aria-describedby="inputGroup-sizing-default">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Πινακίδα</span>
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" ng-model="pinakida" aria-describedby="inputGroup-sizing-default">
            </div>


            <br>

            <br>
            <br>

            <br>

            <div align="center">
            <button class="btn btn-primary" ng-click= "search()"  >Αναζήτηση</button>
            <button class="btn btn-primary" ng-click= "update()"  >Ενημέρωση</button>
            </div>
            <br>
            <br>
            <br>





            
